---
import { Icon } from 'astro-icon/components';
import { GITHUB_URL, X_URL } from "@/constants";
---

<header class="bg-gray-100 p-4">
  <a href="/" class="flex items-center gap-2">
    <Icon name="logo" size={38} />
    <div class="flex flex-col">
      <p class="text-base text-black-500">福山大学学友会</p>
      <p class="text-sm text-blue-500">プログラミンサークル</p>
    </div>
  </a>
  <nav>
    <ul class="flex items-center gap-8">
      <li><a href="/">Home</a></li>
      <li><a href="/blogs">Blog</a></li>
      <li><a href="/faq">FAQ</a></li>
      <li>
        <div class="flex items-center gap-2">
          <a href={GITHUB_URL} target="_blank">
            <Icon name="ri:github-fill" size={24}  />
          </a>
          <a href={X_URL} target="_blank">
            <Icon name="ri:twitter-x-line" size={24} />
          </a>
        </div>
      </li>
    </ul>
  </nav>
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
</style>